.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    padding: 0.7em 1.3em;
    margin-right: 1em;
    border-radius: 8px;
    border: 1px solid grey;
    line-height: 1.5;
}

.search button {
    color: white;
}